
# Dependency directories
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.kate-swp/
*.tmproj
*.tmproject
